
body{
    margin: 0px;
    background-color: #201E20;
    background-image: url("data:image/webp;base64,UklGRogBAABXRUJQVlA4THwBAAAvP8APAB+goG0U6F7wrwCJ2BESEJXq/zVfyAQsNvp3lMI9/3FuqC3+g+Q2kiRJskZu7Tf36JYnChgFztZsBYrRKAUIwB4ZNatCRP8nIN3nsocuu4DaxnfWBt18vaHOnKvhE0qpyC24VEod4Ox+pU5Sdfz7WfHKXlu8HnA2Nuypo5tAbHYD0kAdtVEzdaQO1IGiQQVt6iwdOZtjaaTOg2XMz1upaDxSjddUHRr3UmVtsxT3UVf5rVi6mtmYV9Gh9R8rVrc66GZeZUepcT4uBqlOHtBwUDr4seZSJw8oCSpQ4QawRFkGfUkF1+dRE3htlPPBfqaDpcGdpUEqqgNUZ2puwdocRiPVzBqrs4cuL8ZrNuvi5ckWV/N5W+rIb8BycDXgzv6d1+dWHcb5QEc2sfTlUSq5DXUeqgE6aUp1AOR2W5sDzi91QF08N4BS4fV56GQZlAPgKEk1uEwp1XHeKAM43OfzVqpX8Yn7eH5199XEZ3ZU93rl/2TnxVwXJw==");
}
#head1 {
    display: flex;
    flex-direction: row;
    background-color: #E0A96D;
    padding: 5px;
    padding-left: 40px;
    opacity: 20;
    border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJAgMAAACd/+6DAAAABGdBTUEAALGPC/xhBQAAAAlQTFRFAAAA6tSqGBQlHYAABgAAAAF0Uk5TAEDm2GYAAAAZSURBVAjXY+BawcCgGsbAMIGxAQODxIHyAIsgB7CF1qipAAAAAElFTkSuQmCC");

    border: #5d3e02;
    border-style: solid;
    align-content: center !important;
    height: fit-content;
    position: fixed;
    overflow: hidden;
    justify-content: flex-start;
    width: inherit;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
} 

h2 #mainHeaderText {
    margin: 10px;
    height: 100px !important;
    text-align: center;
    color: aliceblue;
    align-self: center;
    text-align: center;
    font-size: 3em;
}

.headertext {
    color:  #201E20;
}

.box {
    overflow-x: hidden;
    padding: 40px;
    padding-top: 200px;
    padding-bottom: 800px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.card {
    background-color: #E0A96D;
    border: #645202 5px;
    border-style: double;
    border-radius: 15px;
    min-width: 200px; 
    min-height: 150px;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    margin: 25px;
    opacity: 1;
    scroll-snap-align: start;
}
.card:hover { 
    background-color: #bbb50fa7;
    opacity: 1;
    border: #645202 5px;
    border-style: double;
}
.profile {
    height: 100px;
    width: 100px;
    border: #aa9f94 solid 3px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.container1 {
    display: flex;
    flex-direction: row;
}

.icon {
    margin: 12px;
    height: 0.4in;
    width: 0.4in;
}

.textbox1 {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-left: 10px;
}

h3 {
    color: aliceblue;
}


#landId {
    text-align: center;
    width: 100%;
}

.fixheight {
    min-height: 100%;
    max-height: max-content;
}

#background {
    overflow-y: auto;
    background-image: url("data:image/webp;base64,UklGRogBAABXRUJQVlA4THwBAAAvP8APAB+goG0U6F7wrwCJ2BESEJXq/zVfyAQsNvp3lMI9/3FuqC3+g+Q2kiRJskZu7Tf36JYnChgFztZsBYrRKAUIwB4ZNatCRP8nIN3nsocuu4DaxnfWBt18vaHOnKvhE0qpyC24VEod4Ox+pU5Sdfz7WfHKXlu8HnA2Nuypo5tAbHYD0kAdtVEzdaQO1IGiQQVt6iwdOZtjaaTOg2XMz1upaDxSjddUHRr3UmVtsxT3UVf5rVi6mtmYV9Gh9R8rVrc66GZeZUepcT4uBqlOHtBwUDr4seZSJw8oCSpQ4QawRFkGfUkF1+dRE3htlPPBfqaDpcGdpUEqqgNUZ2puwdocRiPVzBqrs4cuL8ZrNuvi5ckWV/N5W+rIb8BycDXgzv6d1+dWHcb5QEc2sfTlUSq5DXUeqgE6aUp1AOR2W5sDzi91QF08N4BS4fV56GQZlAPgKEk1uEwp1XHeKAM43OfzVqpX8Yn7eH5199XEZ3ZU93rl/2TnxVwXJw==");
}

#sflBalance {
    opacity: 20;
}

i {
    color: #c5c829;
}

#logo {
    margin-left: 5vw;
    margin-right: 2vw;
    width: 5vh;
    height: 5vh;
    align-self: center;
}

#sflDiv {
    display: flex;
    flex-direction: row;
    max-height: 50%;
    padding-left: 10px;
    padding-right: 10px;
    min-width: max-content;
    border-color: #5d3e02;
    border-radius: 30px;
    border-style: solid;
    position: absolute;
    background-color: rgb(170, 159, 148);
    right: 10px;
    align-self: center;
    align-items: center;
}

#CardContainer {
    margin-top: 100px;
}

#container2 {
    visibility: visible;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: center;
    align-self: center;
    min-height: 150px;
    max-width: 300px;
    justify-content: center;
}

.goneCard {
    visibility: hidden;
    opacity: 0;
    background-color: #E0A96D;
    border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJAgMAAACd/+6DAAAABGdBTUEAALGPC/xhBQAAAAlQTFRFAAAA6tSqGBQlHYAABgAAAAF0Uk5TAEDm2GYAAAAZSURBVAjXY+BawcCgGsbAMIGxAQODxIHyAIsgB7CF1qipAAAAAElFTkSuQmCC");
    border-radius: 15px;
    min-width: 200px; 
    min-height: 150px;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    margin: 25px;
    box-shadow: 5px 5px #8d7e7e;
    opacity: 0.5;
    scroll-snap-align: start;
}
#gonecontainer2 {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: center;
    align-self: center;
    min-height: 150px;
    max-width: 300px;
}

.fh{
    height: fit-content;
}

.mxf{
    max-height: fit-content;
}

.no-margin{
    margin: 0%;
}

#date{
    margin-bottom: 10px;
    text-align: center;
    border: #5d3e02 solid 2px;
    border-radius: 20px;
    --tw-bg-opacity: 1;
    background-color: rgb(185 111 80 / var(--tw-bg-opacity));
}

#trees{
    margin-bottom: 10px;
    text-align: center;
    border: #5d3e02 solid 2px;
    border-radius: 20px;
    --tw-bg-opacity: 1;
    background-color: rgb(185 111 80 / var(--tw-bg-opacity));
}

.buttonBox {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    --tw-bg-opacity: 1;
}