
body, html {
    height: 100%;
    width: 100%;
    margin: 0ch;
    background-color: #201E20;
    overflow-y: auto;
    background-image: url("data:image/webp;base64,UklGRogBAABXRUJQVlA4THwBAAAvP8APAB+goG0U6F7wrwCJ2BESEJXq/zVfyAQsNvp3lMI9/3FuqC3+g+Q2kiRJskZu7Tf36JYnChgFztZsBYrRKAUIwB4ZNatCRP8nIN3nsocuu4DaxnfWBt18vaHOnKvhE0qpyC24VEod4Ox+pU5Sdfz7WfHKXlu8HnA2Nuypo5tAbHYD0kAdtVEzdaQO1IGiQQVt6iwdOZtjaaTOg2XMz1upaDxSjddUHRr3UmVtsxT3UVf5rVi6mtmYV9Gh9R8rVrc66GZeZUepcT4uBqlOHtBwUDr4seZSJw8oCSpQ4QawRFkGfUkF1+dRE3htlPPBfqaDpcGdpUEqqgNUZ2puwdocRiPVzBqrs4cuL8ZrNuvi5ckWV/N5W+rIb8BycDXgzv6d1+dWHcb5QEc2sfTlUSq5DXUeqgE6aUp1AOR2W5sDzi91QF08N4BS4fV56GQZlAPgKEk1uEwp1XHeKAM43OfzVqpX8Yn7eH5199XEZ3ZU93rl/2TnxVwXJw==");

}
#head1 {
    display: flex;
    flex-direction: row;
    background-color: #b48842e6;
    padding: 5px;
    padding-left: 40px;
    opacity: 20;
    border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJAgMAAACd/+6DAAAABGdBTUEAALGPC/xhBQAAAAlQTFRFAAAA6tSqGBQlHYAABgAAAAF0Uk5TAEDm2GYAAAAZSURBVAjXY+BawcCgGsbAMIGxAQODxIHyAIsgB7CF1qipAAAAAElFTkSuQmCC");
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top: 0px;
    border: #5d3e02;
    border-style: solid;
    background-attachment: scroll;
    align-content: center !important;
    height: fit-content;
    width: 97.25%;
    position: fixed;
    overflow: hidden;
    justify-content: space-between;
    overflow: hidden;
} 

h2 #mainHeaderText {
    margin: 10px;
    height: 100px !important;
    text-align: center;
    color: aliceblue;
    align-self: center;
    text-size-adjust: initial;
}

.headertext {
    color:  #201E20;
}

.box {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 40px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

}

.card {
    background-color: #E0A96D;
    border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJAgMAAACd/+6DAAAABGdBTUEAALGPC/xhBQAAAAlQTFRFAAAA6tSqGBQlHYAABgAAAAF0Uk5TAEDm2GYAAAAZSURBVAjXY+BawcCgGsbAMIGxAQODxIHyAIsgB7CF1qipAAAAAElFTkSuQmCC");
    border-radius: 15px;
    min-width: 300px; 
    min-height: 150px;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    margin: 25px;
    box-shadow: 5px 5px #8d7e7e;
    opacity: 0.5;
    scroll-snap-align: start;
}
.card:hover { 
    opacity: 1;
    box-shadow: 0px 0px #8d7e7e;
    transform: translate(5px, 5px);
}
.profile {
    height: 100px;
    width: 100px;
    border: #aa9f94 solid 3px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.container1 {
    display: flex;
    flex-direction: row;
}

.icon {
    margin: 12px;
    height: 0.4in;
    width: 0.4in;
}

.textbox1 {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-left: 10px;
}

h3 {
    color: aliceblue;
}

.container2 {
    margin-left: 5px;
    width: 80%;
}

#landId {
    text-align: center;
    width: 100%;
}

.fixheight {
    min-height: 100%;
    max-height: max-content;
}

#background {
    background-image: url("data:image/webp;base64,UklGRogBAABXRUJQVlA4THwBAAAvP8APAB+goG0U6F7wrwCJ2BESEJXq/zVfyAQsNvp3lMI9/3FuqC3+g+Q2kiRJskZu7Tf36JYnChgFztZsBYrRKAUIwB4ZNatCRP8nIN3nsocuu4DaxnfWBt18vaHOnKvhE0qpyC24VEod4Ox+pU5Sdfz7WfHKXlu8HnA2Nuypo5tAbHYD0kAdtVEzdaQO1IGiQQVt6iwdOZtjaaTOg2XMz1upaDxSjddUHRr3UmVtsxT3UVf5rVi6mtmYV9Gh9R8rVrc66GZeZUepcT4uBqlOHtBwUDr4seZSJw8oCSpQ4QawRFkGfUkF1+dRE3htlPPBfqaDpcGdpUEqqgNUZ2puwdocRiPVzBqrs4cuL8ZrNuvi5ckWV/N5W+rIb8BycDXgzv6d1+dWHcb5QEc2sfTlUSq5DXUeqgE6aUp1AOR2W5sDzi91QF08N4BS4fV56GQZlAPgKEk1uEwp1XHeKAM43OfzVqpX8Yn7eH5199XEZ3ZU93rl/2TnxVwXJw==");
}

#sflBalance {
    opacity: 20;
}

i {
    color: #c5c829;
}

#logo {
    display: block;
    width: 50px;
    height: 50px;
    align-content: center;
    transform: translateY(+10%);
    margin-left: 50px;
}

#sflDiv {
    display: flex;
    flex-direction: row;
    justify-self: end;
    min-height: fit-content;
    border-color: #c5c829;
    border-radius: 30px;
    border-style: solid;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #aa9f94;
}

#CardContainer {
    margin-top: 100px;
}